*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: none;
    padding: none;
    margin: 0;
    text-decoration: none;

}

header{
    display: flex;
    background-color: black;
    margin: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);

}

.container{
    display: flex;
    width: 90%;
    margin-left: 1%;
    transition: 0.6s;
    justify-content: space-between;
}

.navbar{
    position: relative;
    display: flex;
    width: 40%;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    color: white;

}

.img_header{
    width: 8%;  
    alt: 8%;
    justify-content: right;
}
#login {
    position: absolute;
    width: 60px;
    height: 30px;
    top: calc(50% - 42px/2);
    background-color: #ffffff;
    color: #000000;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1%;
}
.container a{
    color: white;
}
.form{
    background-image: url(../imagens/Fundo2.jpg);
    background-size: cover;
    padding: 8%;
    display: flex;
    justify-content: center;
}
.form .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}
.formulario{
    background-color: #ffffffaf;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 350px;
    margin: 30px;
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;
    justify-content: space-between;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    
}
.form button{
    width: 150px;
    height: 50px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    margin-top: 10%;
}

.form button{
    cursor: pointer;
}

.form button:hover{
    background-color: rgb(25, 25, 25);
    transform: scale(1.1);
    transition: 0.5s;

}
.input {
    font-size: 16px;
    font-family: arial;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 250px;
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    margin-top: 25px;
}

.input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.bar {
    position: relative;
    display: block;
    width: 250px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}
.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}
.home{
    width: 45%;
    alt: 30%;

}
.formulario span{
    alt: 25%;
}
.box_home{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 35%;
    margin: 2%;
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);

}
.img_home{
    width: 45%;
    alt: 30%;
}


